.collapsible-header-status {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bold;
}

.collapsible {
    border-top: 1px solid #444444;
    border-right: 1px solid #444444;
    border-left: 1px solid #444444;
}

.collapsible-header {
    background-color: #666666;
    color: #ffffff;
    border-bottom: 1px solid #444444;
    position: relative;
}

.collapsible-body {
    background-color: #444444;
    border-bottom: 1px solid #666666;
}