.datepicker-row {
    color: #212121;
}

.datepicker-controls .select-wrapper input {
    color: #212121;
}

.datepicker-date-display {
    background-color: #2E79B9;
}

.datepicker-table td.is-selected {
    background-color: #2E79B9;
}

.datepicker-cancel, .datepicker-done, .datepicker-clear {
    color: #2E79B9;
    font-weight: bold;
}

.datepicker-cancel:hover, .datepicker-done:hover, .datepicker-clear:hover {
    background-color: rgba(46, 121, 185, 0.2);
    color: #2E79B9;
    font-weight: bold;
}

.datepicker-calendar .month-next:hover, .datepicker-calendar .month-prev:hover {
    background-color: rgba(46, 121, 185, 0.3);
}

.datepicker-table td.is-today {
    color: #2E79B9;
}

.datepicker-table td.is-today .datepicker-day-button{
    font-weight: bold;
}

.datepicker-table td.is-selected .datepicker-day-button {
    color: #FFFFFF;
}

