.global-datepicker-table {
    font-weight: bold;
    border-collapse: separate;
}

.global-datepicker-table td {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 33%;
    font-size: 1.3rem;
}

.global-datepicker-table td:hover {
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.global-datepicker-selected {
    background-color: rgba(255, 255, 255, 0.125);
}

.global-datepicker-button {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}