.keyboard-key {
    padding: 0.2rem 0.7rem;
    color: #FFFFFF;
    background-color: #212121;
    border-radius: .2rem;
    font-family: Consolas, "Courier New", monospace;
    display: inline-block;
    margin-right: 2rem;
}