body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #FFFFFF;
}

header, main, footer {
    margin-left: 350px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

main {
    flex: 1 0 auto;
    margin-bottom: 24px;
}

.text-color {
    color: #FFFFFF;
}

.budgetmaster-blue {
    background-color: #2E79B9;
}

.budgetmaster-blue-text {
    color: #2E79B9;
}

.budgetmaster-blue-light {
    background-color: rgba(80, 115, 146, 0.8);
}

.budgetmaster-blue-light-text {
    color: rgba(80, 115, 146, 0.8);
}

.budgetmaster-green {
    background-color: #5cb85c !important;
}

.budgetmaster-green-text {
    color: #5cb85c;
}

.budgetmaster-dark-green {
    background-color: #468C46;
}

.budgetmaster-dark-green-text {
    color: #468C46;
}

.budgetmaster-red {
    background-color: #D82C29 !important;
}

.budgetmaster-red-text {
    color: #D82C29;
}

.budgetmaster-orange {
    background-color: orange;
}

.budgetmaster-orange-text {
    color: orange;
}

.budgetmaster-grey {
    background-color: #CCCCCC !important;
}

.budgetmaster-grey-text {
    color: #CCCCCC;
}

.budgetmaster-baby-blue {
    background-color: #4CABD3;
}

.budgetmaster-baby-blue-text {
    color: #4CABD3;
}

.budgetmaster-purple {
    background-color: #5856d6;
}

.budgetmaster-purple-text {
    color: #5856d6;
}

.budgetmaster-text-black {
    color: rgba(0, 0, 0, 0.87);
}

.budgetmaster-text-isPayment {
    color: rgba(0, 0, 0, 0.87);
}

.budgetmaster-dark-orange {
    background-color: #ff7043;
}

.budgetmaster-dark-orange-text {
    color: #ff7043;
}

.budgetmaster-update {
    background-color: #e9c46a;
}

.budgetmaster-text-update {
    color: #212121 !important;
}

.sidenav-trigger, .sidenav-trigger i {
    font-size: 1.5em;
}

.sidenav {
    width: 350px;
}

ul.sidenav.sidenav-fixed > li:last-child {
    margin-bottom: 160px;
}

.sidenav, .sidenav-sub, .searchWrapper {
    background-color: #444444;
    box-shadow: none;
}

.sidenav #buttonSearch {
    right: 3rem;
}

.sidenav li > a, .sidenav-sub li > a {
    color: #FFFFFF;
    font-weight: 600;
}

.sidenav li > a:hover, .sidenav-sub li > a:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #FFFFFF !important;
}

.sidenav li > a > i, .sidenav-sub li > a > i {
    color: #FFFFFF !important;
}

.sidenav li > a #icon-update {
    color: #212121 !important;
}

.sidenav li > a:hover #icon-update {
    color: #FFFFFF !important;
}

.sidenav li.active {
    background-color: rgba(255, 255, 255, 0.25);
}

/*active nav bar sub list items*/
.sidenav .collapsible-body > ul:not(.collapsible) > li.active, .sidenav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: rgba(255, 255, 255, 0.35);
}

/*text color for active nav bar sub list items*/
.sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
.sidenav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: rgba(255, 255, 255, 0.87);
}

.btn, .btn-flat {
    text-transform: none;
    font-weight: 600;
}

.btn:hover,
.btn-floating:hover {
    background-color: #70A3CF;
}

.btn:focus,
.btn-floating:focus {
    background-color: #2E79B9;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.input-label {
    color: #FFFFFF !important;
}

/* input text color */
.input-field input[type=text] {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #CCCCCC;
}

/* input password label color */
.input-field input[type=text] + label {
    color: #FFFFFF !important;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2E79B9 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2E79B9 !important;
    box-shadow: 0 1px 0 0 #2E79B9 !important;
}

/* input password color */
.input-field input[type=password] {
    color: #FFFFFF !important;
}

.input-field input[type=password]:not(.invalid) {
    border-bottom: 1px solid #FFFFFF !important;
    box-shadow: 0 1px 0 0 #CCCCCC !important;
}

/* input password label color */
.input-field input[type=password] + label {
    color: #FFFFFF !important;
}

/* label password focus color */
.input-field input[type=password]:focus + label {
    color: #2E79B9 !important;
}

/* label password underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #2E79B9 !important;
    box-shadow: 0 1px 0 0 #2E79B9 !important;
}

textarea {
    color: #FFFFFF;
}

/* label focus color */
.input-field textarea:focus + label {
    color: #2E79B9 !important;
}

/* label underline focus color */
.input-field textarea:focus {
    border-bottom: 1px solid #2E79B9 !important;
    box-shadow: 0 1px 0 0 #2E79B9 !important;
}

/* label focus color */
.chips-label.active {
    color: #2E79B9 !important;
}

/* label chips underline focus color */
.chips.focus {
    border-bottom: 1px solid #2E79B9 !important;
    box-shadow: 0 1px 0 0 #2E79B9 !important;
}

.main-card {
    margin: auto;
    width: 95%;
    padding: 2rem;
}

.background-color {
    background-color: #444444 !important;
}

#nav-logo-container {
    padding: 10px 0 10px 10px;
    height: 100px !important;
}

#nav-logo {
    max-height: 80px;
}

#logo {
    max-height: 100px;
}

.page-footer {
    padding-top: 0;
}

.nav-padding {
    padding: 0 0 0 32px !important;
}

.nav-margin {
    margin: 0 0 0 32px !important;
}

.no-padding {
    padding: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin {
    margin: 0 !important;
}

.text-red {
    color: #D82C29;
}

.text-light-red {
    color: #F55856;
}

.text-green {
    color: #5cb85c;
}

.text-dark-green {
    color: #247A2C;
}

.text-grey {
    color: #CCCCCC;
}

.color-red {
    background-color: #D82C29;
}

.color-green {
    background-color: #5cb85c;
}

.budget-bar-container {
    margin: auto;
    width: 85%;
    height: 3%;
}

.budget-bar {
    height: 100%;
}

.icon-chevron {
    font-size: 6vmin !important;
}

.icon-today {
    font-size: 4vmin !important;
}

.headline {
    font-size: 2rem;
    text-transform: initial;
    color: #FFFFFF;
}

.headline-advice {
    color: #FFFFFF;
    opacity: 0.7;
    margin-top: 0.5rem;
}

.headline-date {
    font-size: 4vmin;
    text-transform: capitalize;
    color: #FFFFFF;
}

.headline-date:hover {
    cursor: pointer;
    text-decoration: underline;
}

.budget-headline-icon {
    margin-top: 0;
}

.mobile-menu {
    color: #000000;
    background-color: #FFFFFF;
    width: 70px;
}

.mobile-menu-icon {
    margin-right: 5px !important;
}

#logo-huge {
    max-height: 20vmin;
}

#logo-home {
    max-height: 13vmin;
}

.home-firstUseBanner-wrapper {
    display: inline-block;
}

.home-firstUseBanner {
    border: 2px solid white;
    border-radius: 5px;
    padding: 0 1vmin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
    font-size: 1.8vmin;
}

.home-firstUseBanner-item {
    padding: 10px 0 10px 10px;
}

.home-firstUseBanner i {
    font-size: 2.5vmin;
}

.home-firstUseBanner-clear i {
    font-size: 1.8vmin;
}

.break-all {
    word-break: break-all;
}

.stripe {
    width: 8px;
    margin-right: 26px;
    height: 48px;
    display: inline-block;
    float: left;
}

.stripe-level-2 {
    width: 16px;
    margin-right: 52px;
    height: 48px;
    display: inline-block;
    float: left;
}

/* select font color */
ul.dropdown-content.select-dropdown li span {
    color: #2E79B9;
}

ul.dropdown-content.select-dropdown li {
    background-color: rgba(0, 0, 0, 0.2);
}

ul.dropdown-content.select-dropdown li.selected {
    background-color: rgba(0, 0, 0, 0.35);
}

.caret {
    fill: #FFFFFF !important;
    color: white !important;
}

/* switch color */
.switch label input[type="checkbox"]:checked + .lever {
    background-color: rgba(131, 190, 240, 0.6)
}

.switch label input[type="checkbox"]:checked + .lever::after {
    background-color: #2E79B9;
}

/* normal checkbox*/
input[type="checkbox"]:checked + span:not(.lever)::before {
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #45A0EF;
    border-bottom: 3px solid #45A0EF;
}

input[type="checkbox"]:not(:checked) + span:not(.lever)::before {
    border: 2px solid rgba(255, 255, 255, 0.7);
}


/* chips autocomplete dropdown */
.autocomplete-content li span {
    color: #2E79B9;
}

.autocomplete-content li:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

/* radio buttons */
input[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::after {
    background-color: #2E79B9;
}

input[type="radio"]:checked + span::after, [type="radio"].with-gap:checked + span::before, [type="radio"].with-gap:checked + span::after {
    border: 2px solid #2E79B9;
}

input[type="radio"]:not(:checked) + span::before, [type="radio"]:not(:checked) + span::after {
    border: 2px solid #FFFFFF;
}

.account-budget {
    font-size: 20px !important;
}

.account-budget-date {
    font-size: 12px !important;
}

.account-navbar {
    padding: 5px 32px 12px 32px;
}

.all-account-placeholder {
    font-weight: bold;
}

.login-button {
    text-transform: none;
}

.login-margin-top {
    margin-top: 20px;
}

.login-message {
    width: auto;
    margin: auto
}

.btn-flat, .btn {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-menu-flex {
    display: flex;
    flex-wrap: wrap;
}

.home-menu-flex .col {
    margin-bottom: 3rem;
}

.home-menu-link {
    display: inline-block;
    color: #FFFFFF;
}

.home-menu-link-item {
    font-size: 1.2rem;
    color: #FFFFFF;
}

.home-menu-link-item:hover {
    background-color: #333333;
}

.home-menu-disabled * {
    color: #777777 !important;
}

/* mark navbar entry "chart" as not available */
.home-menu-disabled > li > a > i {
    color: #777777 !important;
}

.home-menu-text {
    padding-left: 16px;
    margin-top: 2rem;
}

.modal-footer .btn-flat {
    color: #FFFFFF;
}

.chips .input {
    color: #FFFFFF;
}

.import-text {
    color: #4CABD3;
}

.datePicker-fixed-width {
    width: 30%;
}

.no-border-table tr {
    border: none;
}

.bordered tr {
    border-bottom: 1px solid #FFFFFF;
}

.placeholder-image {
    width: 17vmin;
}

.no-wrap {
    white-space: nowrap;
}

.settings-switch {
    margin-bottom: 20px;
}

/* inputs with icon prefix */
.input-field .prefix.active {
    color: #2E79B9;
}

.placeholder-icon {
    display: inline-block;
    width: 1.3rem;
    margin-right: 15px;
}

.whatsNewLink:hover {
    cursor: pointer;
}

.banner {
    width: auto;
    border-radius: 5px;
    padding: 0 3vmin;
    display: inline-block;
    font-weight: bold;
}

.tooltipped:hover {
    cursor: pointer;
}

.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}

/* large screens */
@media all and (min-width: 960px) {
    .icon-budget {
        font-size: 4vmin !important;
    }

    .budget-headline {
        font-size: 1.5vmin;
        color: #A3A3A3;
    }

    .budget {
        font-size: 2.5vmin;
    }

    .fixed-action-btn {
        right: 53px;
    }
}

/* medium screens */
@media all and (max-width: 959px) and (min-width: 600px) {
    .icon-budget {
        font-size: 5.5vmin !important;
    }

    .budget-headline {
        font-size: 2.5vmin;
        color: #A3A3A3;
    }

    .budget {
        font-size: 3.5vmin;
    }

    .template-header-name {
        max-width: 40% !important;
    }
}

/* small screens */
@media all and (max-width: 599px) and (min-width: 320px) {
    .icon-budget {
        font-size: 6vmin !important;
    }

    .budget-headline {
        font-size: 4vmin;
        color: #A3A3A3;
    }

    .budget {
        font-size: 3.8vmin;
    }

    .container, .transaction-container {
        width: 100% !important;
    }

    .template-header-name {
        max-width: 40% !important;
    }
}

.debug {
    border: 1px solid red;
}