bin/
target/
certs/
.idea/
*.p12

*.db
!BudgetMasterDatabaseMigrator/src/test/resources/*.mv.db
*.iml

*/build/[0-9]*.[0-9]*.[0-9]*
/error.log
/application.properties

**/main/WEB-INF
**/main/META-INF
BudgetMasterServer/screenshots/
BudgetMasterServer/src/main/resources/BudgetMasterDatabaseMigrator.jar
