#account-icon {
    margin-top: 3rem;
    justify-content: center;
}

#item-icon-preview {
    text-align: center;
    border: 2px solid var(--color-text);
    padding: 1rem;
    color: var(--color-text);
}

.button-remove-icon-from-item {
    margin-left: 1rem;
}

.button-remove-icon-from-item i {
    font-size: 1.8rem;
}

.item-icon-option-column {
    text-align: center;
    margin-bottom: 1.5rem;
}

.item-icon-option {
    padding: 0.5rem;
    border: 2px solid transparent;
}

.item-icon-option:hover {
    cursor: pointer;
}

.item-icon-option.selected {
    border: 2px solid var(--color-text);
}

.item-icon-preview-icon {
    height: 5rem;
}

#item-icon-preview:hover {
    cursor: pointer;
}

.item-icon-preview  {
    height: 5rem;
}

.account-select-icon {
    height: 34px;
    width: 34px;
}

.account-square-border {
    border: 3px solid var(--color-blue);
    line-height: 28px !important;
}

.item-icon-option-delete span {
    display: none;
}

.item-icon-option-delete i.left {
    margin-right: 0;
}

.item-icon-option-delete-confirm {
    color: var(--color-red) !important;
}

.item-icon-option-delete-confirm span {
    display: inline-block;
}
