.category-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
}

.category-circle-small {
    width: 34px;
    height: 34px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    line-height: 34px !important;
    font-size: 17px !important;
    vertical-align: middle;
    margin: 14px 16px;
}

.category-color {
    height: 35px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #212121;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.category-color:hover {
    cursor: pointer;
}

.category-color-active {
    border: 3px dashed black;
}

.categoryDeleteModal {
    overflow-y: visible !important;
}

#category-icon {
    margin-top: 3rem;
    justify-content: center;
}

#category-icon-preview {
    text-align: center;
    border: 2px solid var(--color-text);
    padding: 1rem;
    color: var(--color-text);
}

#category-icon-preview i {
    font-size: 3rem;
}

#button-remove-category-icon {
    margin-left: 1rem;
}

#button-remove-category-icon i {
    font-size: 1.8rem;
}

.category-icon-option-column {
    text-align: center;
    margin-bottom: 1.5rem;
}

.category-icon-option {
    padding: 0.5rem;
    border: 2px solid transparent;
}

.category-icon-option:hover {
    cursor: pointer;
}

.category-icon-option.selected {
    border: 2px solid var(--color-text);
}

.category-icon-option-icon {
    font-size: 2rem;
}

/*style spectrum color picker*/

/*hide spectrum color picker arrow*/
.sp-dd {
    display: none;
}

.sp-preview {
    margin-right: 0;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    color: #000000;
}

.sp-preview-inner:after {
    content: '+';
}

.sp-replacer {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0;
    border-radius: 2px;
}