.step-name {
    margin-left: 1em;
}

.quick-date {
    color: #039be5;
    text-align: center;
    padding: 0 0 10px 0;
}

.quick-date:hover {
    cursor: pointer;
    text-decoration: underline var(--color-blue);
}

.container-chart {
    width: 90%;
    margin: auto;
}

.chart-canvas {
    height: 40em;
}

.CodeMirror {
    width: 100%;
    height: auto;
    resize: vertical;
}

.CodeMirror-scroll {
    height: auto;
}

.headline-chart-step {
    font-size: 1.2rem;
}

.chart-button i {
    font-size: 2.2rem;
}

.chart-button-name {
    margin-left: 1rem;
    font-weight: bold;
}

.chart-preview:hover {
    cursor: pointer;
}

.chart-preview .card-action {
    word-break: break-word;
    color: #212121;
    min-height: 5rem;
    padding: 1rem;
}

#chart-date-card {
    background-color: var(--color-grey-dark-almost-transparent);
}