.item-icon {
    margin-top: 3rem;
    justify-content: center;
}

#item-icon-preview {
    text-align: center;
    border: 2px solid var(--color-text);
    padding: 1rem;
    color: var(--color-text);
}

#item-icon-preview i {
    font-size: 3rem;
}

.button-remove-icon-from-item {
    margin-left: 1rem;
}

.button-remove-icon-from-item i {
    font-size: 1.8rem;
}

.item-icon-option-column,
.builtin-icon-option-column {
    text-align: center;
    margin-bottom: 1.5rem;
}

.item-icon-option,
.builtin-icon-option {
    padding: 0.5rem;
    border: 2px solid transparent;
}

.item-icon-option:hover,
.builtin-icon-option:hover {
    cursor: pointer;
}

.item-icon-option.selected,
.builtin-icon-option.selected {
    border: 2px solid var(--color-text);
}

.builtin-icon-option-icon {
    font-size: 2rem;
}

#numberOfIcons {
    font-size: 1.1rem;
}

.item-icon-preview-icon {
    height: 5rem;
}

#item-icon-preview:hover {
    cursor: pointer;
}

.item-icon-preview {
    height: 5rem;
    width: 100%;
    object-fit: contain;
}

.item-icon-option-delete span {
    display: none;
}

.item-icon-option-delete i.left {
    margin-right: 0;
}

.item-icon-option-delete-confirm {
    color: var(--color-red) !important;
}

.item-icon-option-delete-confirm span {
    display: inline-block;
}

#progressIndicator {
    margin-top: 3rem;
}

#progressIndicator .spinner-blue-only {
    border-color: var(--color-blue);
}