body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin: 0;
}

#logo-container {
    height: 12vmin;
}

#logo {
    max-height: 10vmin;
    max-width: 100%;
}

#teapot {
    max-height: 10vmin;
}

.full-height {
    height: 100%;
    padding: 0;
    margin: 0;
}

#card-login {
    background-color: #FFFFFF;
}