.table-container {
    display: table;
    margin: auto;
}

.table-cell {
    display: table-cell
}

.table-cell-valign {
    vertical-align: middle;
}

.table-cell-spacer {
    width: 3em;
}

.switch-cell-margin {
    height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#verificationCode {
    font-weight: bold;
    margin-left: 1rem;
    border: 2px solid var(--color-text);
    padding: 0.3rem 0.5rem;
}

#verificationCode:hover {
    cursor: pointer;
}