body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, main, footer {
    margin-left: 350px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

main {
    flex: 1 0 auto;
}

.budgetmaster-blue {
    background-color: #2E79B9;
}

.budgetmaster-blue-text {
    color: #2E79B9;
}

.budgetmaster-blue-light {
    background-color: rgba(46, 121, 185, 0.8);
}

.budgetmaster-green {
    background-color: #5cb85c;
}

.budgetmaster-red {
    background-color: #D82C29;
}

.budgetmaster-orange {
    background-color: orange;
}

.budgetmaster-grey {
    background-color: #696969;
}

.budgetmaster-baby-blue {
    background-color: #5ac8fa;
}

.budgetmaster-purple {
    background-color: #5856d6;
}

.side-nav li.active {
    background-color: rgba(0, 0, 0, 0.15);
}

/*active nav bar sub list items*/
.side-nav .collapsible-body > ul:not(.collapsible) > li.active, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: rgba(0, 0, 0, 0.25);
}

/*text color for active nav bar sub list items*/
.side-nav .collapsible-body > ul:not(.collapsible) > li.active a,
.side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: rgba(0, 0, 0, 0.87);
}

.btn {
    text-transform: capitalize;
}

.btn:hover {
    background-color: #70A3CF;
}

.btn:focus {
    background-color: #2E79B9;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2E79B9 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2E79B9 !important;
    box-shadow: 0 1px 0 0 #CCCCCC !important;
}

/* label password focus color */
.input-field input[type=password]:focus + label {
    color: #2E79B9 !important;
}

/* label password underline focus color */
.input-field input[type=password]:focus {
    border-bottom: 1px solid #2E79B9 !important;
    box-shadow: 0 1px 0 0 #CCCCCC !important;
}

.main-card {
    margin: auto;
    width: 95%;
    padding: 2rem;
}

#nav-logo-container {
    padding: 10px 0 10px 10px;
    height: 100px !important;
}

#nav-logo {
    max-height: 80px;
}

#logo {
    max-height: 100px;
}

.page-footer {
    padding-top: 0;
}

.nav-padding {
    padding: 0 0 0 32px !important;
}

.nav-margin {
    margin: 0 0 0 32px !important;
}

.no-padding {
    padding: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin {
    margin: 0 !important;
}

.text-red {
    color: #D82C29;
}

.text-green {
    color: #5cb85c;
}

.text-dark-green {
    color: #247A2C;
}

.color-red {
    background-color: #D82C29;
}

.color-green {
    background-color: #5cb85c;
}

.budget-bar-container {
    margin: auto;
    width: 85%;
    height: 3%;
}

.budget-bar {
    height: 100%;
}

.icon-budget {
    font-size: 5.5vmin !important;
}

.icon-chevron {
    font-size: 6vmin !important;
}

.icon-today {
    font-size: 4vmin !important;
}

.headline {
    font-size: 2rem;
    text-transform: initial;
}

.headline-date {
    font-size: 4vmin;
    text-transform: capitalize;
}

.budget-headline {
    font-size: 2.5vmin;
}

.budget {
    font-size: 3.5vmin;
}

.mobile-menu {
    color: #000000;
    background-color: #FFFFFF;
    width: 70px;
}

.mobile-menu-icon {
    margin-right: 5px !important;
}

#logo-huge {
    max-height: 20vmin;
}

.break-all {
    word-break: break-all;
}

.stripe {
    width: 6px;
    margin-right: 26px;
    height: 48px;
    display: inline-block;
    float: left;
}

.stripe-level-2 {
    width: 12px;
    margin-right: 52px;
    height: 48px;
    display: inline-block;
    float: left;
}

/* select font color */
ul.dropdown-content.select-dropdown li span {
    color: #2E79B9;
}

ul.dropdown-content.select-dropdown li.selected {
    background-color: rgba(0, 0, 0, 0.15);
}

.hidden {
    display: none;
}

.debug {
    border: 1px solid red;
}