body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, main, footer {
    margin-left: 350px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        margin-left: 0;
    }
}

main {
    flex: 1 0 auto;
}

.main-card {
    margin: auto;
    width: 95%;
    padding: 2rem;
}

#nav-logo-container {
    padding: 10px 0 10px 10px;
    height: 100px !important;
}

#nav-logo {
    max-height: 80px;
}

#logo {
    max-height: 100px;
}

.page-footer {
    padding-top: 0;
}

.nav-padding {
    padding: 0 0 0 32px !important;
}

.nav-margin {
    margin: 0 0 0 32px !important;
}

.no-padding {
    padding: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

.text-red {
    color: #D82C29;
}

.text-green {
    color: #5cb85c;
}

.color-red {
    background-color: #D82C29;
}

.color-green {
    background-color: #5cb85c;
}

.budget-bar-container {
    margin: auto;
    width: 85%;
    height: 3%;
}

.budget-bar {
    height: 100%;
}

.icon-budget {
    font-size: 5.5vmin !important;
}

.icon-chevron {
    font-size: 6vmin !important;
}

.headline {
    font-size: 2rem;
    text-transform: capitalize;
}

.headline-date {
    font-size: 4vmin;
    text-transform: capitalize;
}

.budget-headline {
    font-size: 2.5vmin;
}

.budget {
    font-size: 3.5vmin;
}

.category-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
}

.mobile-menu {
    color: #000000;
    background-color: #FFFFFF;
    width: 70px;
}

.mobile-menu-icon {
    margin-right: 5px !important;
}