.template-content-label {
    font-weight: 600;
}

.template-header-name {
    max-width: 50%;
}

.collapsible-header-button {
    position: absolute;
    right: 15px;
    top: 8px;
    font-weight: bold;
}

.template-selected {
    background-color: var(--color-grey-light);
}

/* dark theme */
[data-theme="dark"] .template-selected {
    background-color: #888888;
}
