.table-repeating-end .cell {
    padding: 0 2vmin 0 0;
}

.table-repeating-end .stretched-cell {
    width: 100%;
    padding: 0 2% 0 2%;
}

.table-repeating-end .input-cell {
    min-width: 20%;
}

.chips .chip.selected {
    background-color: #2E79B9;
}

.chips .input {
    width: auto !important;
}

.input-min-width {
    min-width: 100px;
}

.transaction-container {
    width: 90%;
}

.transaction-container .category-circle,
.transaction-container .category-circle-small,
.search-container .category-circle,
.search-container .category-circle-small {
    margin: auto;
}

.transaction-line-height {
    line-height: 50px;
}

.transaction-row-top {
    padding-top: 14px;
}

.transaction-row-bottom {
    padding-bottom: 5px;
    margin-bottom: 0;
}

.transaction-row-transparent {
    opacity: 0.5;
}

.transaction-row-transparent-override {
    opacity: 1.0 !important;
}

.transaction-text {
    font-size: 1.2rem;
}

.transaction-buttons .btn-flat {
    height: auto;
    line-height: inherit;
}

.transactions-buttons-col {
    position: relative;
    height: 36px;
}

.transaction-date {
    min-width: 5.5rem;
}

.new-transaction-button {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 !important;
}

.new-transaction-button-list {
    top: auto !important;
}

.new-transaction-button-list-large {
    left: auto !important;
    right: 8px !important;
}

.new-transaction-button-list li .btn-floating {
    border-radius: 0;
}

.mobile-fab-tip {
    position: absolute;
    padding: 0 0.5rem;
    margin-left: 0.4rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFFFFF;
    width: auto;
}

#button-new-transaction {
    height: 36px;
    width: auto;
    border-radius: 0;
    line-height: 36px;
    padding: 0 16px;
    font-size: 14px;
}

#button-new-transaction i {
    line-height: 36px;
}