.table-repeating-end .cell {
    padding: 0 2vmin 0 0;
}

.table-repeating-end .stretched-cell {
    width: 100%;
    padding: 0 2% 0 2%;
}

.table-repeating-end .input-cell {
    min-width: 20%;
}

.chips .chip.selected {
    background-color: #2E79B9;
}

.input-min-width {
    min-width: 100px;
}

.transaction-container {
    width: 90%;
}

.transaction-container .category-circle,
.transaction-container .category-circle-small {
    margin: auto;
}

.transaction-row {
    margin-bottom: 5px;
    margin-top: 20px;
}

.transaction-text {
    font-size: 1.2rem;
}

.transaction-buttons .btn-flat {
    height: auto;
    line-height: inherit;
}

.transactions-buttons-col {
    position: relative;
    height: 56px;
}

.new-transaction-button {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    top: 0;
    margin: auto;
}

.mobile-fab-tip {
    position: absolute;
    right: 60px;
    padding: 0 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}