.account-select-icon {
    height: 34px;
    width: 34px;
}

.account-select-icon:not(i) {
    height: 100%;
    width: 100%;
    padding: 10%
}

.account-icon-big {
    height: 4rem !important;
    width: 4rem !important;
    min-width: 4rem;
}

.account-icon-big .account-select-icon {
    height: 4rem !important;
    width: 4rem !important;
    min-width: 4rem;
}

.account-icon-big .account-select-icon:not(i) {
    height: 100%;
    width: 100%;
    padding: 0;
}

.account-square-border {
    border: 3px solid var(--color-text);
    line-height: 32px !important;
}

.account-container th {
    vertical-align: top;
}

.account-container th.vertical-align-middle {
    vertical-align: middle;
}