.category-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
}

.category-circle img {
    object-fit: contain;
}

.category-circle .fa,
.category-circle .fab,
.category-circle .fad,
.category-circle .fal,
.category-circle .far,
.category-circle .fas {
    line-height: 40px;
}

.category-icon:not(i) {
    height: 100%;
    width: 100%;
    padding: 15%;
}

.category-circle-small {
    width: 34px;
    height: 34px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    line-height: 34px !important;
    font-size: 17px !important;
    vertical-align: middle;
    margin: 14px 16px;
}

.category-circle-small .fa,
.category-circle-small .fab,
.category-circle-small .fad,
.category-circle-small .fal,
.category-circle-small .far,
.category-circle-small .fas {
    line-height: 34px !important;
}

.category-circle-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    line-height: 5rem !important;
    font-size: 2.5rem !important;
}

.category-circle-preview .fa,
.category-circle-preview .fab,
.category-circle-preview .fad,
.category-circle-preview .fal,
.category-circle-preview .far,
.category-circle-preview .fas {
    line-height: 5rem !important;
}

.category-circle-preview.account-icon-big .fa,
.category-circle-preview.account-icon-big .fab,
.category-circle-preview.account-icon-big .fad,
.category-circle-preview.account-icon-big .fal,
.category-circle-preview.account-icon-big .far,
.category-circle-preview.account-icon-big .fas {
    line-height: 4rem !important;
}

.category-square {
    border-radius: 10%;
}

.category-color {
    height: 35px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #212121;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.category-color:hover {
    cursor: pointer;
}

.category-color-active {
    border: 3px dashed black;
}

.categoryDeleteModal {
    overflow-y: visible !important;
}
