#transaction-import-overview {
    overflow: auto;
}

.transaction-import-text-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.transaction-import-text-with-icon i {
   margin-right: 1.3rem;
}

.transaction-import-row-skipped {
    opacity: 0.5;
}