.table-repeating-end .cell {
    padding: 0 2vmin 0 0;
}

.table-repeating-end .stretched-cell {
    width: 100%;
    padding: 0 2% 0 2%;
}

.table-repeating-end .input-cell {
    min-width: 20%;
}

.chips .chip.selected {
    background-color: var(--color-blue);
}

#transaction-chips {
    margin-top: 0;
}

.input-min-width {
    min-width: 100px;
}

.transaction-container {
    width: 90%;
}

.transaction-container .category-circle,
.transaction-container .category-circle-small,
.search-container .category-circle,
.search-container .category-circle-small {
    margin: auto;
}

.transaction-row-top {
    padding: 14px 0.5rem 0 0.5rem;
}

.transaction-row-bottom {
    padding-bottom: 14px;
}

.transaction-row-desktop {
    min-height: 3.4rem;
}

.transaction-row-transparent {
    background-color: var(--color-background-light-transparent) !important;
}

.transaction-row-transparent .transaction-row-transparent-child {
    opacity: 0.5;
}

.transaction-row-highlighted {
    background-color: var(--color-blue-light) !important;
    opacity: 1.0 !important;
}

.transaction-card {
    margin: 0.4rem 0 0.8rem 0;
}

.transaction-text {
    font-size: 1.2rem;
}

.transaction-buttons .btn-flat {
    height: auto;
    line-height: inherit;
}

.transactions-buttons-col {
    position: relative;
    height: 36px;
}

.transaction-date {
    min-width: 5.5rem;
    margin-top: 1.6rem;
    margin-bottom: 0.5rem;
    color: #FFFFFFDD;
    letter-spacing: 0.1rem;
}

.search-result .transaction-date {
    margin: 0;
    color: var(--color-text);
    letter-spacing: normal;
}

.new-transaction-button {
    position: absolute;
    display: inline-block;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 !important;
}

.new-transaction-button-list {
    top: auto !important;
}

.new-transaction-button-list-large {
    left: auto !important;
    right: 8px !important;
}

.new-transaction-button-list li .btn-floating {
    border-radius: 0;
}

.edit-transaction-button {
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    padding: 0 !important;
}

.edit-transaction-button-link {
    height: 36px;
    width: auto;
    border-radius: 0;
    line-height: 36px;
    padding: 0 16px;
    font-size: 1.3rem;
}

.edit-transaction-button-link i {
    line-height: 36px;
    font-size: 1.3rem;
}

.edit-transaction-button-link:hover {
    background-color: transparent;
}

.edit-transaction-button ul {
    right: 30px !important;
    top: -16px !important;
}

.edit-transaction-button li {
    display: block !important;
}

.mobile-fab-tip {
    position: absolute;
    padding: 0 0.5rem;
    margin-left: 0.4rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFFFFF;
    width: auto;
}

.edit-transaction-button .mobile-fab-tip {
    position: relative;
}

#transaction-actions-button .mobile-fab-tip {
    margin-right: 4rem;
    right: 0;
}

#button-new-transaction {
    height: 36px;
    width: auto;
    border-radius: 0;
    line-height: 36px;
    padding: 0 16px;
    font-size: 14px;
}

#button-new-transaction i {
    line-height: 36px;
}

.icon-repeating {
    vertical-align: middle;
    font-size: 2rem;
}

#keyword {
    font-weight: bold;
    border-bottom: 2px solid var(--color-text);
    padding: 0.3rem 0.5rem;
}

#modalTransactionNameKeywordWarning {
    width: 40%;
}