.budgetmaster-blue {
    background-color: #2E79B9;
}

.budgetmaster-blue-text {
    color: #2E79B9;
}

.budgetmaster-blue-light {
    background-color: rgba(46, 121, 185, 0.8);
}

.btn:hover {
	background-color: #70A3CF;
}

.bold {
	font-weight: bold;
}