.greylabel{
	-fx-text-fill: #212121;
}

.tab-header-background {
    -fx-background-color: transparent;
}
.tab-pane{
    -fx-tab-min-width: 90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab{	
    -fx-font-weight: bold;
    -fx-background-color: #A5A5A5;
}

.tab .tab-label { 
    -fx-alignment: CENTER;   
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
.tab-pane .tab:selected
{
    -fx-background-color: #F4F4F4;
}
 
.tab:selected .tab-label { 
    -fx-alignment: CENTER;     
}

.tab-pane > .tab-header-area > .headers-region > .tab { 
    -fx-background-radius: 0, 0, 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 0, 0;
}



.progress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}

.progress-bar > .bar {
    -fx-background-color: -fx-accent;
    -fx-background-insets: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-padding: 0.75em;
}

.progress-bar > .track {  
    -fx-background-color: #CCCCCC;     
    -fx-background-insets: 0, 0 0 0 0, 0 0 0 0;
    -fx-background-radius: 0, 0, 0;
}